<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodtruck.dao.EventDAO">


	<!-- 이벤트 정보 -->
	<select id="getEvent" resultMap="EventMap">
		
		SELECT * FROM EVENT_BD 
		WHERE EVENT_NO=#{eventNo}
		
	</select>

	<!-- 이벤트 전체 리스트 -->
	<select id="getEventBoardList" resultMap="EventMap">
	
		<![CDATA[
		
			SELECT NTTT.* 
			FROM (SELECT NTT.*
				  FROM (SELECT ROWNUM AS RNUM, NT.*
						FROM (SELECT * FROM EVENT_BD ORDER BY EVENT_NO DESC)NT
				  		)NTT 
				  WHERE ROWNUM<=#{pageNo}+9)NTTT
			WHERE RNUM>=#{pageNo}
		
		]]>
		
	</select>

	<!-- 이벤트 등록 -->
	<insert id="insertEvent" parameterType="com.foodtruck.vo.EventVO">
		
		INSERT INTO EVENT_BD
		(EVENT_NO, MEM_ID, EVENT_TITLE, EVENT_CONTENT, LICENSE_NO, EVENT_REG2)
		VALUES
		((SELECT NVL(MAX(EVENT_NO)+1, 1)FROM EVENT_BD), #{memId}, #{eventTitle}, #{eventContent}, #{licenseNo}, #{eventReg2})
		
	</insert>

	<!-- 이벤트 수정 -->
	<update id="updateEvent" parameterType="com.foodtruck.vo.EventVO">
	
		UPDATE EVENT_BD 
		SET EVENT_TITLE=#{eventTitle}, EVENT_CONTENT=#{eventContent}
		WHERE EVENT_NO=#{eventNo}
	
	</update>

	<!-- 이벤트 조회수 -->
	<update id="countEvent" parameterType="int">
		
		UPDATE EVENT_BD 
		SET EVENT_CNT = EVENT_CNT+1 
		WHERE EVENT_NO=#{eventNo}
		
	</update>

	<!-- 이벤트 삭제 -->
	<delete id="deleteEvent" parameterType="com.foodtruck.vo.EventVO">
		
		DELETE FROM EVENT_BD
		WHERE EVENT_NO=#{eventNo}
	
	</delete>

	<select id="getCountEvent" resultType="int">
		
		SELECT COUNT(*) FROM EVENT_BD
	
	</select>

	<!-- menuBoard에 이벤트 진행중이면, 푸드트럭 이름 옆에 이벤트 띄워 주려고 -->
	<select id="progressEvent" resultMap="EventMap">
	
		 SELECT E.*, F.FTRUCK_NO, F.FTRUCK_NAME
		 FROM EVENT_BD E
		 INNER JOIN FOODTRUCK F
		 ON E.LICENSE_NO = F.LICENSE_NO
	
	</select>

	<!-- resultMap -->
	<resultMap type="EventVO" id="EventMap">
		<result column="EVENT_NO" property="eventNo" />
		<result column="MEM_ID" property="memId" />
		<result column="EVENT_TITLE" property="eventTitle" />
		<result column="EVENT_CONTENT" property="eventContent" />
		<result column="EVENT_REG" property="eventReg" />
		<result column="EVENT_CNT" property="eventCnt" />
		<result column="LICENSE_NO" property="licenseNo"/>
		<result column="FTRUCK_NO" property="ftruckNo"/>
		<result column="FTRUCK_NAME" property="ftruckName"/>
		<result column="LICENSE_NO" property="licenseNo"/>
		<result column="EVENT_REG2" property="eventReg2"/>
	</resultMap>

</mapper>