<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodtruck.dao.FestivalDAO">

	<!-- 축제정보 insert하기  -->
	<insert id="IntsertFestival" >
	
		INSERT INTO FESTIVAL
		(FES_NO, FES_NAME, FES_ID, FES_CONTENT, FES_TEL, FES_ADDR, 
		 FES_SDATE, FES_EDATE, FES_IMG, FES_IMG2, FES_LATITUDE, FES_LONGITUDE)
		VALUES
		(FES_SEQ.nextval, #{fesName}, #{fesId}, #{fesContent}, #{fesTel}, #{fesAddr}, 
		 #{fesSdate}, #{fesEdate}, #{fesImg}, #{fesImg2}, #{fesLatitude}, #{fesLongitude})
		 
	</insert>
	
	<!-- 축제정보 10개씩 가져오기  -->
	<select id="getFestivalList" resultMap="FestivalMap">
	
		SELECT * FROM FESTIVAL
	
	</select>
	
	<!-- 축제정보 삭제하기  -->
	<delete id="deleteFestival">
	
		TRUNCATE TABLE FESTIVAL
	
	</delete>
	
	<!-- 축제정보 10개씩 가져오기  -->
	<select id="getFestivalList2" resultMap="FestivalMap">
		
		<![CDATA[
			
			SELECT FFFT.* 
			FROM (SELECT FFT.*
				  FROM (SELECT ROWNUM AS RNUM, FT.*
						FROM (SELECT FESTIVAL.*
							  FROM FESTIVAL ORDER BY FES_NO
							  )FT
						)FFT
				  WHERE ROWNUM <=#{pageNo}+9
				  )FFFT
			WHERE RNUM >=#{pageNo}
		
		]]>
		
	</select>
	
	<!-- 축제정보 count  -->
	<select id="getcountFestival" resultType="int">
	
		SELECT COUNT(*) FROM FESTIVAL
		
	</select>
	
	<!-- 푸드트럭 지역이름으로 행사정보 가져오기  -->
	<select id="getFestivalList3" resultMap="FestivalMap" parameterType="String">
	
		SELECT * FROM FESTIVAL
		WHERE FES_ADDR LIKE #{addr}||'%'
	
	</select>
	
	<!-- 푸드트럭 지역이름으로 행사정보 카운드  -->
	<select id="getList3Count" resultType="int">
	
		SELECT COUNT(*) FROM FESTIVAL
		WHERE FES_ADDR LIKE #{addr}||'%'
	
	</select>
	
	<!-- resultMap -->
	<resultMap type="FestivalVO" id="FestivalMap">
		<result column="FES_NO" property="fesNo" />
		<result column="FES_ADDR" property="fesAddr" />
		<result column="FES_NAME" property="fesName" />
		<result column="FES_TEL" property="fesTel" />
		<result column="FES_SDATE" property="fesSdate" />
		<result column="FES_EDATE" property="fesEdate" />
		<result column="FES_IMG2" property="fesImg2" />
		<result column="FES_IMG" property="fesImg" />
		<result column="FES_LATITUDE" property="fesLatitude" />
		<result column="FES_LONGITUDE" property="fesLongitude" />
		<result column="FES_ID" property="fesId" />
		<result column="FES_CONTENT" property="fesContent" />
	</resultMap>
	
</mapper>
