<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.foodtruck.dao.ProductDAO">
	
	<!-- 제품 정보 -->
	<select id="getProduct" resultMap="ProductMap">
	
		SELECT * FROM PRODUCT
		WHERE PROD_NO=#{prodNo} 
	
	</select>

	<!-- 제품 리스트 -->
	<select id="getProductList" resultMap="ProductMap">
	
		SELECT * FROM PRODUCT 
		WHERE FTRUCK_NO = #{ftruckNo}

	</select>
	
	<!-- 제품 등록 -->
	<insert id="insertProduct">
		
		INSERT INTO PRODUCT 
		(PROD_NO, PROD_NAME, PROD_CONTENT, PROD_IMG, PROD_PRICE, PROD_ORIGIN, LICENSE_NO, FTRUCK_NO)
		VALUES
		(PROD_SEQ.nextval, #{prodName}, #{prodContent}, #{prodImg}, #{prodPrice}, #{prodOrgin}, #{licenseNo}, #{ftruckNo})
	
	</insert>
	
	<!-- 제품 수정 -->
	<update id="updateProduct">
	
		UPDATE PRODUCT
		SET PROD_NAME=#{prodName}, PROD_CONTENT=#{prodContent}, PROD_PRICE=#{prodPrice}, PROD_IMG=#{prodImg}, PROD_ORIGIN=#{prodOrgin}
		WHERE PROD_NO=#{prodNo} 
		
	</update>
	
	<!-- 제품 삭제 -->
	<delete id="deleteProduct">
	
		DELETE FROM PRODUCT
		WHERE PROD_NO=#{prodNo} 
		
	</delete>
	
	<!-- resultMap -->
	<resultMap type="ProductVO" id="ProductMap">
		
		<result column="PROD_NO" property="prodNo"/>
		<result column="PROD_NAME" property="prodName"/>
		<result column="PROD_CONTENT" property="prodContent"/>
		<result column="PROD_IMG" property="prodImg"/>
		<result column="PROD_PRICE" property="prodPrice"/>
		<result column="PROD_ORIGIN" property="prodOrgin"/>
		<result column="FTRUCK_NO" property="ftruckNo"/>
		<result column="LICENSE_NO" property="licenseNo"/>
	</resultMap>
	
</mapper>