<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodtruck.dao.SearchDAO">

	<!-- 푸드트럭 검색 리스트 -->
	<select id="getFoodTruckList" resultMap="FoodTruckMap">
		
		<![CDATA[
		
			SELECT FFFT.* 
			FROM (SELECT FFT.*
				  FROM (SELECT ROWNUM AS RNUM, FT.*
						FROM (SELECT FOODTRUCK.* 
							  FROM FOODTRUCK
							  WHERE FTRUCK_ADDR LIKE '%'||#{searchStr}||'%'
							  ORDER BY FTRUCK_REG
							  )FT
						)FFT
				  WHERE ROWNUM <=#{pageNo}+9
				  )FFFT
			WHERE RNUM>=#{pageNo}
		
		]]>
	</select>
	
	<!-- 푸드트럭 검색 카운트(페이징처리) -->
	<select id="getCategoryCountTruck" resultType="int" parameterType="string">
	
		SELECT COUNT(*) FROM FOODTRUCK
		WHERE FTRUCK_ADDR LIKE '%'||#{searchStr}||'%'
		
	</select>
	
	<!-- resultMap -->
	<resultMap type="FoodTruckVO" id="FoodTruckMap">
		<result column="FTRUCK_NO" property="ftruckNo" />
		<result column="LICENSE_NO" property="licenseNo" />
		<result column="FTRUCK_NAME" property="ftruckName" />
		<result column="FTRUCK_TEL" property="ftruckTel" />
		<result column="FTRUCK_ADDR" property="ftruckAddr" />
		<result column="FTRUCK_ADDR2" property="ftruckAddr2" />
		<result column="FTRUCK_DLV_YN" property="ftruckDlvYn" />
		<result column="FTRUCK_RSV_YN" property="ftruckRsvYn" />
		<result column="FTRUCK_GRADE" property="ftruckGrade" />
		<result column="FTRUCK_STATE" property="ftruckState" />
		<result column="FTRUCK_IMG" property="ftruckImg" />
		<result column="FTRUCK_INTRO" property="ftruckIntro" />
		<result column="FTRUCK_REG" property="ftruckReg" />
	</resultMap>
	
</mapper>